html {
font-size: 16px;
font-family: "Helvetica", sans-serif;
line-height: 1.4;
}

/* Header */

header {
  height: 64px;
  display: flex;
}

.logo {
  flex-grow: 1;
  display: inline-flex;
  align-items: center;
}

.logo-file {
  padding-left: 24px;
}

.logo-file img {
  height: 50px;
}

#company-name {
font-size: 32px;
text-transform: uppercase;
}

#colmar {
  font-weight: bold;
}

#academy {
  color: lightgrey;
  font-weight: bold;
}

nav ul{
  list-style-type: none;
  display: inline-flex;
  padding-right: 24px;
}

/* Banner */

.banner {
  background-color: lightgrey;
  display: flex;
  width: 100%;
}

.banner-image {
  width: 60%;
  padding: 32px 24px;
}

#banner-info {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.banner img {
    width: 100%;

}

h1 {
  font-size: 3rem;
  color: grey;
  font-weight: bold;
  padding-bottom: 20px;
}

h2 {
  font-size: 2rem;
}

.button {
  padding: 8px 75px;
  background-color: grey;
  color: white;
  font-size: 1.5rem;
  margin-top: 20px;
  border-radius: 3px;
  font-weight: bold;
}

.button:hover {
  color: grey;
  background-color: white;
}

/* Practice Section */

.practice-container {
  width: 100%;
  display: flex;
}

.practice-image-container {
  width: 60%;
    padding: 32px 24px;
}

#banner-image-file-info {
  width: 100%;
}

.practice-info-container {
  width: 40%;
    padding: 32px 24px;
}

.practice-info {
  border: 1px lightgrey solid;
  display: flex;
  margin-bottom: 1px;
}

.practice-info:hover {
  background-color: lightgrey;
  color: white;
}

.practice-info-image {
  width: 35%;
  margin: 16px 16px;
}

.practice-info-image img {
  width: 100%;
}


.practice-info-text {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.practice-info-text h2, span {
  padding-bottom: 8px;
}

.quote {
  font-size: 0.8rem;
}

/* Start Learning Section */

.start-learning-container {
  width: 100%;
  background-color: lightgrey;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.heading {
  display: block;
  text-align: center;
  padding-top: 2rem;
}

.courses-container {
display: flex;
flex-wrap: wrap;
width: 100%;
justify-content: center;
}

.individual-course-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  width: 27%;
  height: 20rem;
  margin-right: 2rem;
  margin-bottom: 2.5rem;
  transition: border 0.75s linear 0;
}

.individual-course-container:hover {
  border: 1px solid lightblue;
  box-shadow: 2px 2px 2px #888888;
}

.individual-course-container h2 {
  padding-top: 1rem;
}

.individual-course-container h2, span {
  padding-left: 1rem;
}

.course-image {
  width: 100%;
}

.courses {
  text-transform: uppercase;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.course-info {
  padding-bottom: 1.5rem;
}

/* Thesis exhibit */

.thesis-exhibit-container {
  width: 100%;
  display: flex;
  padding-top: 2rem;
}

.thesis-info-container {
  width: 60%;
  margin-left: 1.5rem;
}

.thesis-info-container h2 {
  padding-bottom: 0.5rem;
}

.thesis-video-container {
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
}

video {
  height: auto;
  width: 100%;
}

.thesis-classes-container {
  width: 40%;
  padding-right: 2rem;
}

.thesis-image-container {
  width: 35%;
    margin: 16px 16px;
}
.thesis-image-container img {
  width: 100%;
  height: auto;
}

/* Footer */

footer {
  display: flex;
  padding: 1rem 1.5rem;
  border-top: solid 1px lightgrey;
  height: 5rem;
  margin-top: 2rem;
}

.copyright {
  display: flex;
  flex-grow: 1;
}
