html {
font-size: 16px;
font-family: "Open Sans", "Helvetica", sans-serif;
line-height: 1.4;
}

/* Header */

header {
  height: 4rem;
  display: flex;
  align-items: center;
}

.logo {
  flex-grow: 1;
  display: inline-flex;
  align-items: center;
}

.logo-file {
  padding-left: 1.5rem;
}

.logo-file img {
  height: 3.125rem;
}

#company-name {
font-size: 2rem;
text-transform: uppercase;
}

#colmar {
  font-weight: bold;
}

#academy {
  color: lightgrey;
  font-weight: bold;
}

nav ul{
  list-style-type: none;
  display: inline-flex;
  padding-right: 1.5rem;
}

nav li {
  padding-right: 1rem;
}

@media only screen and (min-width: 501px) {
  .mobile-menu {
    display: none;
  }

  .mobile-menu img {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .mobile-menu li {
    list-style-type: none;
    display: inline-flex;
    padding-right: 1.5rem;
  }

  .mobile-menu {
    width: 100%;
  }

  .mobile-menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  nav {
    display: none;
  }

  .logo {
    display: none;
  }

  #company-name {
    display: none;
  }
}

/* Banner */

.banner {
  background-color: #E8EAEB;
  display: flex;
  width: 100%;
}

.banner-image {
  width: 60%;
  padding: 2rem 1.5rem;
}

#banner-info {
  display: inline-flex;
  flex-direction: column;

  justify-content: center;
  width: 40%;
}
 {

 }
#banner-heading {
  color: #79999E;
}

#banner-h3 {
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.banner img {
    width: 100%;

}

h1 {
  font-size: 3rem;
  color: #3F4F52;
  font-weight: 800;
  padding-bottom: 1.25rem;
}

@media only screen and (max-width: 975px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }
  #banner-h3 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 825px) {
  h1 {
    font-size: 2rem;
  }
  #banner-h3 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 675px) {
  h1 {
    font-size: 1.5rem;
      padding-bottom: 0.75rem;
  }
  #banner-h3 {
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

h2 {
  font-size: 2rem;
  color: #2F4D52;
  font-weight: 700;
}

h3 {
  line-height: 1.4;

}

.button {
  padding: 0.5rem 4.6875rem;
  background-color: grey;
  color: white;
  font-size: 1.5rem;
  margin-top: 1.25rem;
  margin-right: 1rem;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  width: auto;
}

.button:hover {
  color: white;
  background-color: #79999E;
}

/* Practice Section */

.practice-container {
  width: 100%;
  display: flex;
}

.practice-image-container {
  width: 60%;
    padding: 2rem 1.5rem;
}

.practice-image-container h1 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.practice-image-container h3 {
  padding-bottom: 2rem;
}

#banner-image-file-info {
  width: 100%;
}

.practice-info-container {
  width: 40%;
    padding: 2rem 1.5rem;
}

.practice-info {
  border: 1px lightgrey solid;
  display: flex;
  margin-bottom: 1px;
}

@media only screen and (max-width: 975px) {
  .practice-info-text h2 {
    font-size: 1rem;
    font-weight: bold;
  }
}

@media only screen and (max-width: 825px) {
  .practice-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .practice-container {
    width: 100%;
    height: auto;
  }

  .practice-info-text h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .practice-info-text {
    margin: 0.5rem 0.5rem;
  }
}

.practice-info:hover {
  background-color: lightgrey;
  color: white;
}

.practice-info-image {
  width: 35%;
  margin: 1rem 1rem;
}

.practice-info-image img {
  width: 100%;
}


.practice-info-text {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.practice-info-text h2 {
  padding-bottom: 0.5rem;
}

.practice-info-text span {
  padding-bottom: 0.5rem;
}

.quote {
  font-size: 0.8rem;
}

/* Start Learning Section */

.start-learning-container {
  width: 100%;
  background-color: #E8EAEB;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.heading {
  display: block;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.courses-container {
display: flex;
flex-wrap: wrap;
width: 100%;
justify-content: center;
}

.individual-course-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  width: 27%;
  height: 22rem;
  margin-right: 2rem;
  margin-bottom: 2.5rem;
  transition: border 0.75s linear 0;
}

.individual-course-container:hover {
  background-color: lightgrey;
  color: white;
}

.individual-course-container h2 {
  padding-top: 1rem;
}

.individual-course-container h2 {
  padding-left: 1rem;
}

.individual-course-container span {
  padding-left: 1rem;
}

.course-image {
  width: 100%;
}

.courses {
  text-transform: uppercase;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.course-info {
  padding-bottom: 1.5rem;
}

/* Thesis exhibit */

.thesis-exhibit-container {
  width: 100%;
  display: flex;
  padding-top: 2rem;
}

.thesis-info-container {
  width: 60%;
  margin-left: 1.5rem;
}

.thesis-info-container h2 {
  padding-bottom: 0.5rem;
}

.thesis-video-container {
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
}

video {
  height: auto;
  width: 100%;
}

@media only screen and (max-width: 825px) {
  .thesis-exhibit-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.thesis-classes-container {
  width: 40%;
  padding-right: 2rem;
}

.thesis-image-container {
  width: 35%;
  margin: 1rem 1rem;
}

.thesis-image-container img {
  width: 100%;
  height: auto;
}

.thesis-exhibit-container h2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.thesis-exhibit-container h3 {
  padding-bottom: 2rem;
}

/* Footer */

footer {
  display: flex;
  padding: 1rem 1.5rem;
  border-top: solid 1px lightgrey;
  height: 5rem;
  margin-top: 2rem;
}

.copyright {
  display: flex;
  flex-grow: 1;
}

li:hover {
  color: grey;
}
